[submodule "modules/imgur-album-downloader"]
	path = modules/imgur-album-downloader
	url = https://github.com/alexgisby/imgur-album-downloader/
[submodule "modules/redditPostArchiver"]
	path = modules/redditPostArchiver
	url = https://github.com/sJohnsonStoever/redditPostArchiver
